USE [cartpro]
GO
/****** Object:  Table [dbo].[user]    Script Date: 21-11-2025 19:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[create at] [datetime] NOT NULL
) ON [PRIMARY]
GO
